<%= link_to "Edit", edit_admin_newsletter_path(@newsletter) %>
<%= link_to "Delete", admin_newsletter_path(@newsletter), method: :delete %>

<div>
  Subject: <%= @newsletter.subject %>
  To: <%= @newsletter.to %>
  From: <%= @newsletter.from %>
  Body: <%= @newsletter.body %>
</div>